$blue: #324157;
$light-blue: #3A71A8;
$red: #f43641;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;
$mainColor: #409EFF;
//sidebar
$menuBg: #304156;
$subMenuBg: #409EFF;
// $subMenuBg: #42b983;
$subMenuColor: #ffffff;
$menuHover: #001528;
